.movies_catalog_header{
   display: flex;
   justify-content: space-between;
   margin: auto 3rem;
}

.catalog_header_container {
   width: 60%;
}
.movies_catalog_header p, h2 {
   color: #fff;
   width: 70%;
}

.catalog_header_text{
   font-size: 13px;
   width: 100%;
}

.buttons_container {
   display: flex;
   align-items: flex-end;
   width: 12rem;
   justify-content: space-between;
   margin-bottom: 1rem;
   margin-right: 1rem;
}

.movies_container{
   display: flex;
   flex-wrap: wrap;
   margin: auto;
   overflow-x: hidden;
   overflow-y: auto;
   white-space: normal;
   width: 100%;
   justify-content: center;
}

.movies_container a{
   text-decoration: none;
}

.pagination_buttons_container {
   display: flex;
   justify-content: center;
}
