.searchbar {
  width: 70%;
  height: 6rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar > a {
  width: 8rem;
  justify-content: space-between;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0.5rem;
  text-decoration: none;
  color: #efc000;
}

.searchbar_content {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  margin-right: 1rem;
  max-width: 1280px;
  width: 60%;
  height: 50px;
  background: #2f2f2f;
  border-radius: 5px;
  padding-right: 1rem;
}

.searchbar_form {
  width: 90%;
}

.searchbar_input {
  font-size: 1rem;
  background: transparent;
  margin-left: 1rem;
  width: 95%;
  color: #9f9f9f;
  border: none;
}

.searchbar_input:focus {
  outline: none;
}

.magnify_glass:hover {
  cursor: pointer;
  color: #efc000;
}

.watchlist_header {
  display: flex;
  justify-content: center;
  margin-right: 0.2rem;
}
.watchlist_number {
  color: #000;
  padding-left: 6.7rem;
  z-index: 999;
  position: absolute;
}

@media (max-width: 710px) {
  .watchlist_header, .watchlist_number {
    display: none;
  }
  .searchbar > a {
    justify-content: center; 
  }
}
  

